p{ 
    text-align: center ;
}
#mypara {
    text-align: center;
}
.center-paragraph {
    text-align: center;
}
# {
    font-family: 'Times New Roman', Times, serif;
}
h1, .center-paragraph, p {
    text-align: center;
    color: aqua;
}
div p {
    background-color: brown;
}
div > p {
    background-color: aqua;
}
div + p {
    background-color: red;
}
div ~ p {
    background-color: blue
}
div ~ p: :hover {
    background-color: green;
}
div ~ p::first-letter {
    color: blueviolet;
}
a[target] {
    background-color: aqua;
}

